/**/
.drfont
{
    font-family: "Hiragino Sans", "Open Sans", "Meiryo", "Hiragino Kaku Gothic Pro", "メイリオ", "MS ゴシック", "sans-serif";
}

.drfont1
{
    font-family: "Hiragino Sans", "Open Sans", "Meiryo", "Hiragino Kaku Gothic Pro", "メイリオ", "MS ゴシック", "sans-serif";
    font-size: 12px;
}
.drfont2
{
    font-family: "Hiragino Sans", "Open Sans", "Meiryo", "Hiragino Kaku Gothic Pro", "メイリオ", "MS ゴシック", "sans-serif";
    font-size: 15px;
}
.d01
    {
        width:270px;
        height:50px;
        border:solid;
        border-color:gray;
        border-radius: 5px;
    }

  .drloginbtn
  {
      width:270px;
      height:50px;
      line-height:40px;
  }
    
  .Starcolor {
    color: red;
    font-weight: bold;
}

.dr01mailerrormsg
{
    font-size: 13px;
    color: red;
    margin-left: -10px;
    display: none;
}

.dr01pswerrormsg
{
    font-size: 13px;
    color: red;
    margin-left: -70px;
    display: none;
}


.txthighlight:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
} 

.success{
     -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    position: absolute;  
}

@-webkit-keyframes seconds {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: -9999px;
        position: fixed;      
    }
}

@keyframes seconds {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: -9999px;
        position: fixed;
        
    }
}

#showMe {
  animation: cssAnimation 0s 4s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

#overlay,#overlay1,#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 250, 250, 0.5);
  z-index: 2;
  cursor: pointer;
}



* {
  margin: 0;
  padding: 0;
}

.loading {
  border: 2px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top-color: #129171;
  border-left-color: #eef8f5;
  animation: spin 3s infinite ease-in;
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ring div {
  box-sizing: border-box;
  margin-top: -40px;
  position: absolute; 
  width:25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #eef8f5 transparent transparent transparent;
}

.loader {
   margin-left: 470px;
}

.loader1 {
   margin-left: 460px;
}

.pwdresetloader
{
    margin-left: 450px;
}

.tourokuloader
{
    margin-left: 460px;
}

.dr01divmail
{
    margin-top: 140px;
}

.dr01rpassdivmail
{
    margin-top: 120px;
}

.dr01rpassmsgdivmail
{
    margin-top: 140px;
    margin-left: 180px;
}

@media only screen and (max-width: 460px) {

    .pwdresetloader {
         margin-left: 230px;
    }
}

@media only screen and (max-width: 460px) {

    .dr01rpassmsgdivmail {
         margin-top: 280px;
          margin-left: 10px;
    }
}

@media only screen and (max-width: 460px) {

    .dr01rpassdivmail {
         margin-top: 160px;
    }
}

@media only screen and (max-width: 460px) {

    .dr01divmail {
         margin-top: 280px;
    }
}


@media only screen and (max-width: 460px) {

    .loader {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 460px) {

    .loader1 {
        margin-left: 230px;
    }
}

@media only screen and (max-width: 460px) {

    .tourokuloader {
        margin-left: 230px;
    }
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
